<div class="card text-bg-light h-75">
  <div class="card-header">
    Filter
  </div>
  <div class="card-body p-1">
    <nav class="nav nav-pills flex-column">
      <%= filter_option_for 'ungrouped' %>
      <% @groups.each do |group| %>
        <%= filter_option_for group %>
      <% end %>
    </nav>
  </div>
</div>